<div>
  {{text}}
</div>

<form id="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label  class="center-block">
      Name:
      <input type="text" class="form-control" formControlName="name">
    </label>
    <label  class="center-block">
      Email:
      <input type="text" formControlName="email" class="form-control">
    </label>
    <label class="center-block">
      Text:
      <input type="text" class="form-control" formControlName="text">
    </label>
  </div>
  <button type="submit"
    [disabled]="!contactForm.valid" class="btn btn-success"> Save</button>
</form>
